.align-flex,
.badge__section-name,
.badge__section-info,
.badge__footer,
.badge__header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #310a31;
}
.badge {
  width: 100%;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px #310a31;
}
.badge__header {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #310a31;
}
.badge__section-name {
  padding: 15px;
}
.badge__section-name h1 {
  padding: 0 20px;
  text-align: left;
}
.section-name--avatar {
  width: 120px;
  border-radius: 100px;
  border: solid 1px #310a31;
}
.badge__section-info {
  padding-block-start: 25px;
  flex-direction: column;
  background-color: rgba(243, 232, 238, 0.5);
}
.badge__footer {
  padding: 10px 0;
  color: #98ca3f;
}
