.badges {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 50px 100px repeat(4, 1fr) / 100px repeat(4, 1fr);
  grid-auto-rows: min-content(100px);
  background-color: #f3e8ee;
}
.badges .navbar {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}
.badges__hero {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  height: 100px;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/space1.png");
  background-attachment: fixed;
}
.main__button {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
}
.main__button button {
  width: 80px;
  height: 30px;
  margin-block-start: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #98ca3f;
  box-shadow: 0px 0px 3px #0a1128;
  transform: scale(1, 1);
  transition: transform 0.4s;
}
.main__button button:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
.badges .badges__list {
  grid-column: 2 / 4;
  grid-row: 4 / 6;
}
