.badges__list {
  margin-inline: 20px;
}
.badges__list .filter {
  display: flex;
  flex-direction: column;
}
.badges__list .filter label {
  font-size: 1.5rem;
  margin-inline-start: 10px;
  margin-block-end: 5px;
}
.badges__list .filter input {
  max-width: 250px;
  min-width: 100px;
  height: 25px;
  border: none;
  padding-block: 5px;
  padding-inline: 7px;
  box-shadow: 0px 0px 2px #0a1128;
  border-radius: 5px;
}
.badges__list .filter input:focus {
  border: none;
  outline: none;
}
.badges__list a {
  text-decoration: none;
  color: #310a31;
}
.badges__list li {
  margin-block-start: 20px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 0px 2px #310a31;
  transform: scale(1, 1);
  transition: transform 0.4s;
}
.badges__list li:hover {
  transform: scale(1.1, 1.1);
}
.badges__list li img {
  width: 38px;
  border-radius: 50%;
}
.badges__list .info {
  margin-inline-start: 15px;
}
.badges__list .info .list-name {
  font-size: 1.2rem;
}
.badges__list .info .text-light {
  font-weight: lighter;
}
.badges__list .info .text-bold {
  font-weight: bold;
}
.badges__list .info .list-social {
  display: flex;
  justify-content: left;
  color: #15a9f4;
  font-size: 1rem;
}
.badges__list .info .list-social .twitter {
  width: 15px;
  height: 15px;
  margin-inline-end: 5px;
  display: block;
  background-image: url("../../assets/images/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
