.container {
  width: 100%;
  display: grid;
  grid-template: 150px 1fr 6fr 1fr / repeat(5, 1fr);
}
.container .hero-space {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("../../assets/images/space1.png");
  background-attachment: fixed;
}
.container .hero-space h1 {
  margin-inline-start: 30px;
  font-weight: lighter;
}
.container .hero-space h1 .bold {
  font-weight: bold;
}
.container .badge {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}
.container .container-buttons {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 910px) {
  .container {
    grid-template: 3fr 1fr 3fr 1fr / 1fr 3fr 1fr;
  }
  .container .hero-space {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    flex-direction: column;
  }
  .container .hero-space h1 {
    margin-block-start: 15px;
  }
  .container .badge {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .container .container-buttons {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    flex-direction: row;
    justify-content: center;
  }
  .container .container-buttons button {
    margin-inline: 15px;
  }
}
