.align-flex,
.badge__section-name,
.badge__section-info,
.badge__footer,
.badge__header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #310a31;
}
.badge {
  width: 100%;
  min-width: 150px;
  padding: 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px #0a1128;
}
.badge__header {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #0a1128;
}
.badge__header--image {
  min-width: 50px;
  max-width: 100px;
}

.badge__section-name {
  padding: 15px;
}
.badge__section-name h1 {
  padding-inline-start: 10px;
  text-align: left;
}
.badge__section-name .name-light {
  font-weight: lighter;
}
.badge__section-name .name-bold {
  font-weight: bold;
}
.section-name--avatar {
  min-width: 50px;
  max-width: 100px;
  border-radius: 100px;
  border: solid 1px #0a1128;
}
.badge__section-info {
  flex-direction: column;
  background-color: rgba(243, 232, 238, 0.5);
}
.badge__footer {
  padding: 10px 0;
  color: #98ca3f;
}
